<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

  <body>
    <%- include('navbar') %>
      <section class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-one-third">
              <div class="box">
                <h1 class="title has-text-centered">Signup</h1>
                <% if (typeof error !=='undefined' && error) { %>
                  <div class="notification is-danger">
                    <p>
                      <%= error %>
                    </p>
                  </div>
                  <% } %>
                    <% if (typeof success !=='undefined' && success) { %>
                      <div class="notification is-success">
                        <p>
                          <%= success %>
                        </p>
                      </div>
                      <% } %>
                        <form action="/signup" method="post">
                          <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                              <input name="username" class="input" type="text" placeholder="Enter your username">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                              <input name="password" class="input" type="password" placeholder="Enter your password">
                            </div>
                          </div>
                          <div class="field">
                            <div class="control">
                              <button class="button is-primary is-fullwidth">Login</button>
                            </div>
                          </div>
                        </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('footer') %>
  </body>

</html>